
html{
    font-size: 10px;
}

body{
margin: auto;
min-width: 700px;
height: 2500px;
background-color: #E5E5E5;;
width: 1000px;   
}

.form-info-1{ 
display: flex;
}

.form-info-2{
display: flex;
margin-left: 43px;
padding-top: 20px;
}  
.form-info-3{
 display: flex;
} 
.form-info-4{
    display: flex;
}
.title{
font-family: 'Public Sans', sans-serif; 
font-size: 2.4rem;
font-weight: 700;
padding-top: 50px;
box-sizing: border-box;
}
.title-2, .title-3{
font-family: 'Public Sans', sans-serif; 
font-size: 2.4rem;
font-weight: 700;
padding-top: 50px;
box-sizing: border-box;
margin-left: 43px;
 }
.extra{  
 margin-top: 60px; 
 font-family: 'Public Sans', sans-serif;
 font-weight: 400;
 font-size: 1.4rem;
}
.form-title{
font-family: 'Public Sans', sans-serif; 
font-size: 2rem;  
font-weight: 700;
margin-top: 24px;
}
label>span, .extra>span{
    color: red;
}

.left-row, .left-row-2{
 display: flex;
 flex-direction: column;
 margin-left: 43px;
 align-items: initial;
}

.right-row{
display: flex;
flex-direction: column;
margin-top: 205px;
margin-left: 80px;
padding-bottom: 20px;
box-sizing: border-box;
}
#select{
width: 400px; 
height:45px   
}
#phone, #email, #number{
width: 392px; 
height:40px   
}
#date{
width: 392px; 
height:42px   
 }
#search {
width: 400px; 
height:42px;
}


label,select.phone, .email{
margin-top: 5px;
font-family: 'Public Sans', sans-serif; 
font-size: 1.6rem;
}

#checkbox-icon{
position: relative;
top: 5px;
width:24px;
height:24px
}
#checkbox-icon-2{
margin-top: 150px;
margin-bottom: 13px;
width: 25px;
height:25px;
}
.left-row-2{
margin-left: 0%;
   
}
.right-row-2{
 margin-left: 110px; 
}
.right-row-3{
display: flex;
flex-direction: column;  
margin-left: 45px;
margin-top: 15px;
padding-bottom: 5px;
box-sizing: border-box;
}

.right-row-4{
display: flex;
flex-direction: column;  
margin-left:70px;
margin-top: 10px;
padding: 20px;
}

.left-row-3{
display: flex;
flex-direction: column;
margin-left: 43px;
margin-top: 30px;
}
.left-row-4{
display: flex;
flex-direction: column;
margin-left: 43px;
margin-top: 30px;
}

.line{
border: 1px solid #D1D1D1;
width: 90%;
margin: auto;
margin-top: 30px;
background-color: #D1D1D1;
}
.line-2, .line-3{
border: 1px solid #D1D1D1;
width: 90%;
margin: auto;
margin-top: 30px;
background-color: #D1D1D1;
 }
 
#next{
background: #0050D8;
width: 69px;
height: 40px;
border-radius: 4px;
font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: white;
border-color: #0050D8;
margin-left: 840px;
margin-top: 20px;
}