
.one{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    border: 1px solid black;
    float: left;
     
  
}


 .two{
    height: 200px;
    width: 200px;
    background-color: palevioletred;
    border: 1px solid black;
    float: left;
 
   
 }
   
.main{
    background: aqua;
    height: 800px;
    float: left;
}