body{
    margin: 0%;
    padding: 0%;
    background-color: #212529;
}
html{
  font-size: 10px;
}
.nav {  
  font-weight:600;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;   
}

.header{
  display: flex;
  justify-content: space-between; 
}

li.nav-item {
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px; 
} 

.nav{
  display: flex;
  justify-content: space-between; 
  margin-top: 25px;
}
 .botton{
  margin-right: 48px;
  margin-top: 17px; 
  border: 1px solid #FFB742;
  background-color: #FFB742;
  width: 121px;
  height: 54px;
  border-radius: 50px;
  text-align: center;
  padding-top: 12px; 
  padding-bottom: 0px;
  box-sizing: border-box;
 }
 .nav-item> a{
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  padding: 25px 12.5px;
  box-sizing: border-box;
  transition: all .4s;
}

.btn-text{
  font-weight:600;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize; 
  color:#212529;
  text-decoration: none;
} 

li.nav-item > a:hover{
 color: #FFB742;
}

.logo{
  margin-left: 50px;
  margin-top: 17px;
}
.main_info{
  color: #FFFFFF; 
  display: flex;
  flex-direction: column; 
  text-align: center;
  margin-top: 120px; 
}
.info_1{ 
font-size: 3.5rem;
color: #FFFFFF !important;
font-weight: 700;
font-family: 'Inter', sans-serif;
cursor: pointer;
z-index: 1;
}
.info_1>a{
  color: #FFB742;
}

.info_2{
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif; 
}

.info_3{
  font-size: 2.6rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 35px;
}
.avatar{
margin: 25px;
}

a{
  text-decoration: none;
}

.box{
 display: flex;
 box-sizing: border-box;
 align-items: center;
 justify-content: center;
 margin-top: 150px;
 list-style: none;
 text-decoration: none;
}

.box1, .box3{
  border: 1px solid #292B2E;
  width: 416px;
  height: 120px;
  background-color: #292B2E;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.box2{
  border: 1px solid  #292B2E;
  width: 416px;
  height: 120px; 
  background-color: #292B2E;
  border-radius: 10px;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;  
}
  .box1:hover{
  background-color:#FFB742;
  transition: all .4s;
  }
.box2:hover{
  background-color:#FFB742;
  transition: all .4s;
  }
  .box3:hover{
  background-color:#FFB742;
  transition: all .4s;
  }          
  .content:hover> a{
    color: #292B2E;
    transition: all .4s;
  }
.number1{
  font-size: 3.2rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #FFB742;
  padding-left: 78px;
}

.number3{
  font-size: 3.2rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #FFB742;
  padding-left: 65px;
}  

.number2{
  font-size: 3.2rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #FFB742;
  padding-left: 55px;
}

.box_text1{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size:1.8rem;
  color: white; 
  padding-left: 15px;
}
.box_text3{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  color: white; 
  padding-left: 35px;
}
.box_text2{
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem; 
  color: white; 
  padding-left: 10px;
}
.emblem{
  margin-left: 30px;
  margin-top: 6px;
}
.content{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
 
}
.mark{
  padding-left: 20px;
}

.banner{
  display: flex;
  align-items: center;
}
.img{
  margin-left: 450px;
  margin-top: 228px;
}
.about_title, .about_title2{
border: 1px solid rgba(255, 255, 255, 0.08);
font-weight: 600;
font-size: 2rem;
color: #FFB742;
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
width: 160px;
height: 42px;
text-align: center;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
padding-top: 6px;
box-sizing: border-box;
margin-bottom: 30px;
}
.about_subtitle{
font-weight: 700;
color: #FFFFFF;
font-size: 4.8rem;
font-family: 'Roboto', sans-serif;
}
.about_info{
  font-family: 'Poppins', sans-serif;
  color: #D4D4D4;
  font-size: 1.4rem;
  width: 672px;
  height: 177px;
  text-align: left;
  line-height: 30px;
  box-sizing: border-box;

}
.about{
 margin-top: 228px; 
 margin-left: 150px;
}

 .my-works{
   margin-top: 178px;
   text-align: center;
   display: flex;
   align-items: center;
   flex-direction: column; 
 }

 ul.nav-list{
   list-style: none;
   display: flex;
   justify-content: center;
   font-weight: 600;
   color:  #FFFFFF !important;
   margin-top: 30px;
   font-size: 1.8rem;
 }
  li.nav-list-item>a{
   height: 100px;
   width: auto;
   padding: 10px;
   margin-left: 50px;
   margin-right: 50px;
   border-radius: 5px;
   transition: all .4s;
   color: white;
 }
 li.nav-list-item>a:hover {
 background-color:#FFB742;
 color: #1C1C1C;
 }
 
  .pair-1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
  }
  .pair-2{
    display: flex;
    justify-content: center;
    margin-top: 32px; 
  }
  .link{
    padding-left: 32px;
  }
  .useful-info{
    width: 98%;
    height: 470px;
    background-color: #1C1C1C;
    margin: 116px  20px;
    display: flex;
    justify-content:space-around;
  }
  .column-name{
    color: #FFB742 !important;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding-bottom: 30.6px;
    z-index: 1;
  }
  .column-name-info{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    color: #D4D4D4;
    line-height: 32px;
  }
  .column-1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 148px;
    padding: 7%;
  }
  .column-title{
  font-family: 'Work Sans', sans-serif;
  color: #F5FBF2;
  font-size: 2.6rem;
  }
  .column-info{
   color: #7B7B7B !important; 
   font-size: 1.8rem;
   padding-top: 13px;
   display: flex;
   flex-direction: column;
   text-decoration: none;
  }
  
  .column-2,.column-3,.column-4{
    line-height: 36px;
    padding: 7%;
  }
  div.column-info>a:hover{
    color: #FFB742;
    
  }
  div.column-info>a:active{
    font-size: 3.6rem;
  }