
.header
{
 max-height:103px ;
 min-height: 50px;
 text-align: center;
 color: #0bebe0;
 font-size: 48px;
}
.header-span{
    color: black;
    font-family:Inter,sans-serif; 
}
.body
[
    font-family:Inter,sans-serif;