.menu{
    width: 100%;
    height: 90px;
    background-color: #202846;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 0 0px;
}

.nav{
   list-style: none; 
   display: flex;
  align-items: center;
   
}

li.nav_item > a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
   
}
.vl{
    border-left:2px solid white;
    height: 40px;
}
.logo_1{
    padding-left: 138px;
    padding-right: 292px;
}
.logo_2{
padding-left: 10px;
padding-bottom: 20px;
align-self: center;
margin-top: 20px;
margin-left: 10px;
}

.box{
   width: 100%; 
   background-color: #C6C6DC;
   height: 140px;
   font-size: 48px;
   font-weight: 400;
   padding-left: 227px;
   padding-top: 37px;
   box-sizing: border-box;
   padding: 0;  
  
}
.text{
    padding-left: 227px;
    font-family: 'PT Sans', sans-serif;
    font-style: oblique;
    padding-top:30px;
}
.content{
    height: 1700px;
    width: 100%;
    background-color: #E5E5E5;
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 0px;

}
.card{
    background-color:#BDBDC6 ;
    width: 70%;
    display:flex;
    position: relative;
    height: 300px;
    margin-top: 40px;
    left: 325px;
    padding-bottom: 30px;
   }
   .card1{
    background-color:#BDBDC6 ;
    width: 70%;
    display:flex;
    position: relative;
    height: 300px;
    margin-top: 170px;
    left: 325px;
    padding-bottom: 30px;
   }
   .card_image{
     width: 50%;  
     margin-top: 45px;
     margin-left: 103px;
     height: 70%; 
   }
   
   .card_title{
       font-weight: 700;
       font-family: 'PT Sans', sans-serif;
       font-size: 36px;
       font-style: oblique;
       margin-top: 40px;       
   }
   .card_line{
       border-bottom: 1px solid #FFFFFF;
       width: 750px;
       margin-top: 10px;     
   }
    .info{
      width: 70%;  
    }
    .card_text{
        background-color:#D7D7DD ;
        text-align: center;
        height: 150px;
        width: 87%;
        margin-top: 10px;
        text-align: center;
        padding-top: 30px;
        font-weight: 400;
        font-family: PT Sans;
        font-size: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }

.icon_star{
    position: absolute;
    right: 30px;
    top: 30px; 
}
.card:hover> .icon_star svg path{
   fill: yellow;
}

.card1:hover> .icon_star svg path{
    fill: yellow;
}
   
.card_botton{
    border: 1px solid #202846;
    width: 210px;
    height: 80px;
    background-color:#202846 ;
    position: absolute;
    right: -60px;
    top: 235px;
    border-radius: 80px;
    font-size: 24px;
    font-family: PT Sans;
    font-weight: 400;
}
.botton_text{
    text-align: center;
    margin-top: 20px;
}
a{
 text-decoration: none; 
 color: white;
}
.addition{
    width: 100%;
    height: 90px;
    background-color: #202846;
}
.info_end{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #EEECF1;
    font-size: 36px;
    font-style: oblique;
    margin-left: 130px;
    padding-top: 20px;
    box-sizing: border-box;
}

      


