body{
    margin: 0;
    margin: 0 auto;
    min-width: 700px;
    width: 1000px; 
    background: #E5E5E5;
}

.intake{
    color: #171717;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.field{
    color: #171717;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    margin-top: 65px;
    
}

.field span{
    color: red;
}

.infor{
    color: #171717;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}                            /* header */



.row{
    display: flex;
    margin-bottom: 30px;
}

.row1 input, .row2 input, select{
    display: block;
    height: 40px;
    width: 390px;

    margin-top: 8px;
    margin-right: 32px;
    padding-left: 8px;
    
    border: 1px solid #ADADAD;
    border-radius: 4px;
    box-sizing: border-box;  /* Команда відповіла за вирівнювання полів! */

    color: #171717;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.row1 label{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
}

.row1 label span{
    color: red;
}

.row2 label span{
    color: red;
}

.row2 label{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
}

.row2 input{
    color: #747474;
}

.check{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 32px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #171717;    
}

.check_input{
    display: none;
}

.check_mark{
    height: 24px;
    width: 24px;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  /* Вирявняти галочку по центру */
    margin-right: 8px;

    color: #E5E5E5;
}

.check_input:checked + .check_mark{
    background: #0050D8;
    border-color: #0050D8;
}

.line{
    border: 1px solid #D1D1D1;
    width: 815px;
}

h3{
    margin-top: 32px;
    margin-bottom: 60px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    color: #171717;
}



.search{
    background-image: url(./img/search-line.png);
    background-repeat: no-repeat;
    background-position: 350px;
}

.next{
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content:center;
    position: relative;
    left: 295px;

}

#next{
    background: #0050D8;
    width: 69px;
    height: 40px;
    border-radius: 4px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border-color: #0050D8;
}
