
.square_1{
    margin-top: 20px;
    margin-left: 20px; 
    display: inline-block;
}
.square_top{
    height: 50px;
    width: 100px;  
    background-color: #2137FC;
}

.square_bottom{
    height: 50px;
    width: 100px;  
    background-color: #FFCE22;
   
}

.particle{
    position: absolute;
    left: 45px;
    top: 60px;
}

.circle_1{
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px; 
}
.particle2{
    position: absolute;
    left: 165px;
    top: 80px;  
}
.square_2{
    margin-top: 20px;
    margin-left: 20px; 
    display: inline-block;     
}

.circle_2{
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    border-radius: 50px; 
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;   
}
.square_3{
    margin-top: 20px;
    margin-left: 20px; 
    display: inline-block;     
}

.circle_3{
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    border-radius: 50px; 
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;   
}
.particle3{
    position: absolute;
    left: 28px;
    top: 292px;    
}
.particle4{
    position: absolute;
    left: 167px;
    top: 292px;    
}
.square_4{
    margin-top: 20px;
    margin-left: 20px; 
    display: inline-block;  
    margin-top: 20px;
    margin-left: 20px;    
}

.circle_4{
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50px; 
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;   
}
.particle5{
    position: absolute;
    left: 55px;
    top: 429px;    
}
.particle6{
    position: absolute;
    left: 168px;
    top: 415px;    
}
.square_5{
    margin-top: 20px;
    margin-left: 20px; 
    display: inline-block; 
    margin-top: 0 px;
    margin-left: 20px; 
}
 
 .circle_5{
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50px; 
    display: inline-block;
    margin-left: 20px;     
    }

.name{
    font-size: 50px;
    color: white;
    position: absolute;
    left: 41px;
    top: 555px;    
    font-family: 'Akaya Telivigala', cursive;

}
.name2{
    font-size: 55px;
    color: white;
    position: absolute;
    left: 165px;
    top: 555px;    
    font-family: 'Akaya Telivigala', cursive;  
}

.square_6{
    height: 100px;
    width: 100px;  
    background-color: black;
    margin: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px; 
    box-sizing: border-box;
}
.square_7{
    height: 100px;
    width: 100px;  
    background-color: black;
    margin: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px; 
    box-sizing: border-box;
}

.square_8{
    height: 100px;
    width: 100px;  
    background-color: black;
    margin: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px; 
    box-sizing: border-box;
}
.name3{
    font-size: 55px;
    color: white;
    position: absolute;
    left: 290px;
    top: 530px;    
    font-family: 'Akaya Telivigala', cursive;     
}
.name4{
    font-size: 55px;
    color: white;
    position: absolute;
    left: 438px;
    top: 530px;    
    font-family: 'Akaya Telivigala', cursive;     
}
.name5{
    font-size: 55px;
    color: white;
    position: absolute;
    left: 580px;
    top: 530px;    
    font-family: 'Akaya Telivigala', cursive;     
}
.flag1{
    position: absolute;
    left: 316px;
    top: 605px;
}
.flag2{
    position: absolute;
    left: 427px;
    top: 538px;
}
.flag3{
    position: absolute;
    left: 572px;
    top: 538px;
}
.flag4{
    position: absolute;
    left: 640px;
    top: 538px;
}
