
html{
    font-size: 10px;
}

body{
margin: auto;
min-width: 700px;
height: 2000px;
background-color: #E5E5E5;
width: 1000px;   
}

.title{
font-family: 'Public Sans', sans-serif; 
font-size: 2.4rem;
font-weight: 700;
padding-top: 64px;
box-sizing: border-box;
}
.extra{  
margin-top: 79px; 
font-family: 'Public Sans', sans-serif;
font-weight: 400;
font-size: 1.4rem;
}
.form-title{
font-family: 'Public Sans', sans-serif; 
font-size: 2rem;  
font-weight: 700;
margin-top: 24px;
}
label>span, .extra>span{
color: red;
}
label,select{
margin-top: 5px;
font-family: 'Public Sans', sans-serif; 
font-size: 1.6rem;
}
    
.row-1{
    display:flex;
    align-items: stretch;
    
}
.row{
    margin-left: 35px;
}