.h1{
    font-size: 40px;
    color: black;
    font-family:'Alegreya', serif;
    margin-top:  35px;
    margin-bottom: 0 px;
    font-weight: 700;
    margin-left: 15px;
}

.line{
    border-bottom: 5px solid #3E45E8;
    width:402px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.body{
    font-family:'Alegreya', serif;
}

.header{
    color: #3E45E8;
    text-align: center;
    font-family:'M PLUS 1p', sans-serif;
    font-weight: 400;
    font-size: 48px;
    padding-top: 25px;
    padding-bottom: 31px;
}

.banner{
    
    height: 803px;
    background-image: url("../img/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 195px;
    box-sizing: border-box;
    padding-left: 118px;
}

    .content{

    height:272px; 
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    font-size: 48px;
    color: white;
    width: 60%;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
    }
  

    .main{
        padding: 0% 10px;
   
    }
    .card{
        border: 1px solid black;
        width: 27%;
        display: inline-block; 
        margin: 50px;
        border-radius: 30px;
        box-shadow: 4px 4px 50px lightblue;
    }

    .card__image{
        width: 100%;
    }

    .card2{
        border: 1px solid black;
        width: 27%;
        display: inline-block;     
        border-radius: 30px; 
        box-shadow: 4px 4px 50px lightblue;  
    }

    .card__title{
        color: #1E8DF2;   
        weight: 700;
        font-family: 'Alegreya', serif;
        font-size: 24px;
        padding: 10px;
        box-sizing: border-box;
    }

    .card__subtitle{
        color: #E8C23E;
        weight: 400;
        font-family: 'Alegreya', serif;
        font-size: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    .h2{
        color: black;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        font-family: 'Alegreya', serif;
    }
    
    .line2{
        border-bottom: 5px solid #3E45E8;
        width:402px;
        margin-top: 15px;
        margin-bottom: 20px;
        margin-inline: auto;
    }
    .main_2{
        text-align: center;
    }
    .box{
        width: 591px;
        height: 121px;
        background-color: #2A61F0;
        margin-inline: auto;
        margin-top: 41px;
        margin-bottom: 10px;
    }

    .text{
        text-align: center;   
        color: white;
        font-weight: 700px;
        font-size: 64px;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 21px;
    }

    .block{
        background-color: #2F4A4B;
        height: 300px;
    }
    .text_2{
        font-size: 48px;   
        font-weight: 400;
        font-family:'M PLUS 1p', sans-serif;
        color: #E8C23E;
        text-align: center; 
    }
    .mail{
        font-size: 36px;
        color:#A89D9D; 
        font-weight: 400;
        font-family: 'Marcellus SC', serif;
        text-align: center;
        padding-bottom: 5px;
        box-sizing: border-box;
    }
    .phonenumber{
        font-size: 36px;
        color:#A89D9D; 
        font-weight: 400;
        font-family: 'Marcellus SC', serif;
        text-align: center;
        padding-bottom: 8px;
        box-sizing: border-box;
    }
    .block2{
        text-align: center;
        padding-bottom: 8px;
        padding-top: 12px;
    }